.about-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 100%;
}

.about-project__title {
  width: calc(100% - 140px);
}

.about-project__text-content {
  display: flex;
  width: calc(100% - 140px);
  justify-content: space-between;
  gap: 40px;
  margin-top: 70px;
}

.about-project__text-unit {
  max-width: 550px;
}

.about-project__subtitle {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.21;
  letter-spacing: -0.04em;
}

.about-project__text {
  margin: 0;
  padding: 0;
  margin-top: 26px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}

.about-project__timings {
  width: calc(100% - 140px);
  margin-top: 110px;
  margin-bottom: 110px;
}

.about-project__timing-bar {
  display: flex;
  width: 100%;
}

.about-project__timing-captions {
  display: flex;
  width: 100%;
}

.about-project__timing {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  height: 36px;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
}

.about-project__timing-caption {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-top: 14px;
  color: #a0a0a0;
}

.about-project__backend-timing {
  flex: 1 1 228px;
  background-color: #2be080;
  justify-content: center;
}

.about-project__backend-caption {
  flex: 1 1 228px;
  justify-content: center;
}

.about-project__frontend-timing {
  flex: 1 1 912px;
  background-color: #f2f2f2;
  justify-content: center;
}

.about-project__frontend-caption {
  flex: 1 1 912px;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  .about-project__title {
    width: calc(100% - 100px);
  }

  .about-project__timings {
    width: calc(100% - 100px);
  }

  .about-project__text-content {
    width: calc(100% - 100px);
  }

  .about-project__text-content {
    gap: 30px;
  }

  .about-project__text-unit {
    max-width: 319px;
  }

  .about-project__text {
    margin-top: 22px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
  }

  .about-project__timings {
    width: calc(100% - 100px);
    margin-top: 93px;
    margin-bottom: 90px;
  }

  .about-project__backend-timing {
    flex: 1 1 140px;
  }

  .about-project__backend-caption {
    flex: 1 1 140px;
  }

  .about-project__frontend-timing {
    flex: 1 1 528px;
  }

  .about-project__frontend-caption {
    flex: 1 1 528px;
  }
}

@media screen and (max-width: 600px) {
  .about-project__backend-timing {
    flex: 1 1 100px;
  }

  .about-project__backend-caption {
    flex: 1 1 100px;
  }

  .about-project__frontend-timing {
    flex: 1 1 184px;
  }

  .about-project__frontend-caption {
    flex: 1 1 184px;
  }
}

@media screen and (max-width: 500px) {
  .about-project__timing-caption {
    font-size: 11px;
    margin-top: 10px;
  }

  .about-project__timing {
    font-size: 11px;
  }
}

@media screen and (max-width: 400px) {
  .about-project__title {
    width: calc(100% - 36px);
  }

  .about-project__text-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 36px);
    gap: 56px;
    margin-top: 60px;
  }

  .about-project__subtitle {
    font-size: 18px;
  }

  .about-project__text {
    margin-top: 16px;
    font-size: 11px;
    line-height: 1.45;
  }

  .about-project__timings {
    width: calc(100% - 36px);
    margin-top: 60px;
    margin-bottom: 50px;
  }
}
