.techs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  width: 100%;
}

.techs__title {
  width: calc(100% - 140px);
}

.techs__subtitle {
  margin: 90px 0 0 0;
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  letter-spacing: -0.04em;
}

.techs__text {
  margin: 26px 0 100px 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.04em;
  max-width: 460px;
}

.techs__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, max-content));
  grid-template-rows: 60px;
  justify-content: center;
  width: calc(100% - 140px);
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
  grid-gap: 10px;
}

.techs__item {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: #e8e8e8;
  border-radius: 10px;
}

@media screen and (max-width: 850px) {
  .techs__title {
    width: calc(100% - 100px);
  }

  .techs__subtitle {
    margin-top: 80px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 1.5;
  }

  .techs__list {
    width: calc(100% - 100px);
    grid-template-columns: repeat(auto-fit, minmax(84px, max-content));
    grid-template-rows: 57px;
    margin-bottom: 90px;
  }

  .techs__item {
    max-width: 150px;
    min-width: 84px;
    height: 57px;
  }
}

@media screen and (max-width: 500px) {
  .techs__text {
    max-width: 292px;
    font-size: 11px;
    line-height: 1.45;
    margin: 24px 0 50px 0;
  }
}

@media screen and (max-width: 400px) {
  .techs {
    background-color: #fff;
  }

  .techs__title {
    width: calc(100% - 36px);
  }

  .techs__subtitle {
    font-size: 30px;
    line-height: 1.21;
    margin-top: 60px;
  }

  .techs__list {
    grid-template-columns: repeat(2, minmax(84px, max-content));
    grid-template-rows: 57px;
    margin: 0 0 70px 0;
  }
}
